<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.samfonsec.login">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/login_module">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="addressable"
                android:value="true" />
        </activity>
    </application>

</manifest>